<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Imurab</title>
</head>
<body id="userEdit">
<div th:replace="fragments/general.html :: navbar()"></div>
<div class="container">
    <div class="card rounded-0">
        <div class="card-body">
            <form th:method="put" th:action="@{/users/edit/{id}(id = ${userDto.getId()})}" th:object="${userDto}" enctype="multipart/form-data">
                <legend class="fw-bold text-center" th:text="#{form.user.edit}"></legend>
                <div th:replace="fragments/form.html :: inputText('firstName', #{user.firstName}, #{user.firstName.text}, 'bi bi-card-text', ${userDto.getFirstName()})"></div>
                <div th:replace="fragments/form.html :: inputText('lastName', #{user.lastName}, #{user.lastName.text}, 'bi bi-card-text', ${userDto.getLastName()})"></div>
                <div th:replace="fragments/form.html :: inputText('patronymic', #{user.patronymic}, #{user.patronymic.text}, 'bi bi-card-text', ${userDto.getPatronymic()})"></div>
                <div th:replace="fragments/form.html :: inputText('email', #{user.email}, #{user.email.text}, 'bi bi-envelope', ${userDto.getEmail()})"></div>
                <div th:replace="fragments/form.html :: inputText('phone', #{user.phone}, #{user.phone.text}, 'bi bi-card-text', ${userDto.getPhone()})"></div>
                <div sec:authorize="hasAnyRole('ADMIN', 'OPERATOR')" th:replace="fragments/form.html :: select1('role', #{user.role}, #{user.role.text}, 'bi bi-card-list', ${userDto.getRole()}, ${roles})"></div>
                <div sec:authorize="hasAnyRole('ADMIN', 'OPERATOR')" th:replace="fragments/form.html :: select2('avpId', #{user.avp}, #{user.avp.text}, 'bi bi-card-list', ${userDto.getAvpId()}, ${avp})"></div>
                <input class="btn btn-success" type="submit" th:value="#{form.submit}">
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/general.html :: footer()"></div>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>