.input-field {
    position: relative;
}

.password {
    position: absolute;
    top: 7%;
    font-size: 21px;
    right: 35px;
    cursor: pointer;
    z-index: 5;
}

.card.rounded-0 {
    min-height: 84vh;
}