<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/reset-password.css">
    <title>Imurab</title>
</head>
<body>
<div class="container d-flex align-items-center" style="min-height: 50vh">
    <th:block th:if="${token} == null">
        <div th:replace="fragments/general.html :: cardInfo(#{password.token.invalid}, #{password.token.invalid.text},
            'text-danger', 'bi bi-exclamation-triangle', false)"></div>
    </th:block>

    <th:block th:if="${token != null &&  token.getConfirmedAt() == null && token.getExpiredAt().isBefore(#temporals.createNow())}">
        <div th:replace="fragments/general.html :: cardInfo(#{password.token.expired}, #{password.token.expired.text},
        'text-danger', 'bi bi-exclamation-triangle', ${token})"></div>
    </th:block>

    <th:block th:if="${token != null &&  token.getConfirmedAt() == null && token.getExpiredAt().isAfter(#temporals.createNow())}">
        <div class="card col-12 col-sm-10 col-md-8 col-lg-6 my-5 m-auto">
            <div class="card-header">
                <h5 class="card-title m-0" th:text="#{user.resetPassword}"></h5>
            </div>
            <div class="card-body">
                <form method="post" th:action="@{/auth/reset-password/confirm(token=${token.getToken()})}"
                      th:object="${passwordDto}">
                    <div th:replace="fragments/form.html :: inputPassword('password', #{user.password}, #{user.password.text},
                        'bi bi-key', ${passwordDto.getPassword()}, 'showHidePw')"></div>
                    <div th:replace="fragments/form.html :: inputPassword('confirmPassword', #{user.repeatPassword},
                        #{user.repeatPassword.text}, 'bi bi-key', ${passwordDto.getConfirmPassword()}, 'showHidePwc')"></div>
                    <div class="d-grid">
                        <input type="submit" class="btn btn-primary d-block" th:value="#{form.submit}">
                    </div>
                </form>
            </div>
        </div>
    </th:block>

    <th:block th:if="${token != null && token.getConfirmedAt() != null}">
        <div th:replace="fragments/general.html :: cardInfo(#{password.token.success}, #{password.token.success.text},
            'text-success', 'bi bi-check-circle-fill', false)"></div>
    </th:block>
</div>
<script src="/js/registration.js"></script>
</body>
</html>