<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<br>
<div class="month">
    <ul>
        <li class="prev"><a
                th:href="@{/{year}/{month} (year = ${currentDate.minusMonths(1).getYear()}, month = ${currentDate.minusMonths(1).getMonth().value})}">-</a>
        </li>
        <li class="next"><a
                th:href="@{/{year}/{month} (year = ${currentDate.plusMonths(1).getYear()}, month = ${currentDate.plusMonths(1).getMonth().value})}">+</a>
        </li>
        <li>
            <th:block th:text="${currentDate.getMonth()}"/>
            <br>
            <span th:text="${currentDate.getYear()}"></span>
            <br>
        </li>
    </ul>
</div>

<ul class="weekdays">
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
    <li>Mo</li>
</ul>

<ul class="days">
    <a th:block th:each="day : ${#numbers.sequence(1, currentDate.lengthOfMonth())}"
       th:href="@{/{year}/{month}/{day}  (year = ${currentDate.getYear()}, month = ${currentDate.getMonthValue()}, day = ${day})}">
        <li th:class="${currentDate.withDayOfMonth(day).isEqual(currentDate.now())} ? 'day active' : 'day'">
            <p th:text="${day}"></p>
            <div class="task hidden"></div>
            <div th:each="task : ${tasks}" th:class="${'task ' + task.getType()}"
                 th:if="${day} == ${task.getDate().getDayOfMonth()}"></div>
        </li>
    </a>
</ul>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>